# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
rag_env/
venv/
env/

# Environment Variables
.env

# Streamlit Secrets
.streamlit/secrets.toml

# Vector DB
chroma_db/

# Uploaded Files
uploads/

# OS Files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
